<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true %></div>

  <div><%= f.label :password %> <% if @validatable %><i>(<%= @minimum_password_length %> characters minimum)</i><% end %><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

<% @states = Location.all.select{|l| l.parent_id.blank?}%>

    Location
<div id="state">
<%= f.select :location_id, @states.collect {|p| [ p.name, p.id ] }, {include_blank: false}, :class => 'form-control' %>
</div>
<div id="city">
<%= f.select :city_id,  Location.select{|l| l.ancestry_depth == 1}.collect {|p| [ p.name, p.id ] }, {include_blank: false}, :class => 'form-control' %>
</div>
<div id="area">
<%= f.select :area_id,  Location.select{|l| l.ancestry_depth == 2}.collect {|p| [ p.name, p.id ] }, {include_blank: false}, :class => 'form-control' %>
</div>






  <div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "devise/shared/links" %>
